<!--
TODO
Get icons
find suitable pro pic
style to accept multiple phone layouts
downloadable PDF resume (through this app first, then/or on personal website)
 -->

<div class="container">
  <div class="pro-pic-wrapper">
    <!-- <img class="profile-pic" src="../assets/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.webp" alt="Profile picture" /> -->
    <img class="profile-pic" src="../assets/pro-pic.jpg" alt="Profile picture" />
    <div class="bio">
      <span>ROSS STENILD-JOHANSEN</span>
      <br />
      <span>FULLSTACK WEB DEVELOPER</span>
    </div>
  </div>

  <div class="icon-wrapper">
    <a [href]="AppSettings.GITHUB_URL">
      <div class="social-icons"><img src="../assets/icons/icons8-github.svg" alt="Github"></div>
    </a>

    <a [href]="AppSettings.INDEED_URL">
      <div class="social-icons"><img src="../assets/icons/icons8-indeed.svg" alt="Indeed"></div>
    </a>

    <a [href]="AppSettings.LINKEDIN_URL">
      <div class="social-icons"><img src="../assets/icons/icons8-linkedin.svg" alt="LinkedIn"></div>
    </a>

    <!-- <a [href]="AppSettings.RSJI_URL">
      <div class="social-icons"><img style="width: 30px;" src="../assets/icons/SHJ_logos-Black_A.png" alt="Website"></div>
    </a> -->
  </div>

</div>


<!-- <div>
GIVING CREDIT TO ICONS8
<a target="_blank" href="https://icons8.com/icon/62856/github">Icons</a> by <a target="_blank" href="https://icons8.com">Icons8</a>
</div> -->
