<!--
TODO
Get icons
find suitable pro pic
correct each link in app settings
downloadable PDF resume (through this app first, then/or on personal website)
 -->

<div class="container">
  <div class="pro-pic-wrapper">
    <img
      class="profile-pic"
      src="../assets/picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.webp"
      alt="Profile picture"
    />
    <div class="bio">
      <span>ROSS STENILD-JOHANSEN</span>
      <br />
      <span>FULLSTACK WEB DEVELOPER</span>
    </div>
  </div>

  <div class="icon-wrapper">
    <a [href]="AppSettings.GITHUB_URL">
      <div class="social-icons"><strong>Github</strong></div>
    </a>

    <a [href]="AppSettings.INDEED_URL">
      <div class="social-icons"><strong>Indeed</strong></div>
    </a>

    <a [href]="AppSettings.LINKEDIN_URL">
      <div class="social-icons"><strong>LinkedIn</strong></div>
    </a>

    <a [href]="AppSettings.TWITTER_URL">
      <div class="social-icons"><strong>Twitter</strong></div>
    </a>
  </div>
</div>
